<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>О нас</title>
    <style>
        body {
        }
        .about1 {
            font-family: monospace;
            font-size: 130%;
            font-family: serif;
            position: relative;
            top: 5px;
        }
    </style>
</head>
<body>

    <!-- Шапка сайта -->

    <header th:insert="blocks/header :: header"></header>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Мятное небо</h1>
            <p align="right"><span class="about1">Красота натуральных камней, их волшебство и разнообразие - то, что вдохновляет нас. В своей работе мы используем только натуральные камни в стремлении показать их природное очарование.<span class="about1"></p>
            <img src="https://sun9-45.userapi.com/impf/vA4LXZ2dBzParmZB9ZxCzL5oAcQxYgCaudT1xw/rmFjUf_QrvM.jpg?size=1080x1080&amp;quality=96&amp;proxy=1&amp;sign=95e0bc8b44a2d37e89e70973c950edc4" width="100%" height="100%" align="center">
            <br><br>
            <p align="center"><span class="about1">Украшения, созданные девушками-ювелирами, небо для которых - основной источник вдохновения.</span></p>
            <p align="center"><span class="about1">В своей работе мы используем только натуральные камни в стремлении показать их красоту и неподдельное очарование.</span></p>
            <p align="center"><span class="about1">Все изделия выполнены в соответствии с отраслевым стандартом ОСТ 117-3-002-95.</span></p>
            <p align="center"><span class="about1">Перед тем, как изделие попадет к Вам, оно должно пройти три проверки качества на соответствие стандарту. Мастером при изготовлении изделия проверяется камень на отсутствие посторонних сколов, выколов, царапин и повреждений, качество его огранки.</span></p>
            <p align="center"><span class="about1">В процессе закрепки проверяется симметричность крапанов, их надежность, а также оправа на скрытые дефекты. При оприходовании изделий в магазине наш ювелир проверяет качество изготовления оправы, огранки камня и его закрепки. Администратором перед отправкой изделие проверяется на скрытые дефекты.</span></p>
            <p align="center"><span class="about1">Качество исполнения наших изделий, натуральность камня и удобство в ежедневной носке - то, что мы берем за основу при создании украшений.</span></p>
            <p align="center"><span class="about1">Наши ценности - этичное производство, расположенное в России, любовь к природе и окружающему миру, эмоциональная вовлеченность в процесс создания изделия каждой из наших ювелиров.</span></p>
        </div>
    </div>




</body>
</html>